<div class="row panel">
        <div >
                <div id="categories" class="col-md-3">
                <a class="btn btn-block btn-default btn-lg" href="#">Wszyscy</a>
                <a class="btn btn-block btn-default btn-lg" ng-repeat="group in groups" href="#!groups/{{ group }}" >{{ group }}</a>
        </div>
        </div>
        <div class="col-md-8">
                <center><h2>Szczegóły</h2></center>
                <div class="panel-body">
                        <dl class="dl-horizontal well">
                                <dt>
                                        Nazwisko i Imię:
                                </dt>
                                <dd>
                                        {{ friend.lastName }} {{ friend.firstName }} 
                                </dd>
                                <dt>
                                        Numer telefonu:
                                </dt>
                                <dd>
                                        {{ friend.phoneNumber }}
                                </dd>
                                <dt>
                                        Email:
                                </dt>
                                <dd>
                                        {{ friend.email }}
                                </dd>
                                <dt>
                                        Ulica:
                                </dt>
                                <dd>
                                        {{ friend.street }}
                                </dd>
                                <dt>
                                        Numer domu:
                                </dt>
                                <dd>
                                        {{ friend.number }}
                                </dd>
                                <dt>
                                        Kod pocztowy:
                                </dt>
                                <dd>
                                        {{ friend.postalCode }}
                                </dd>
                                <dt>
                                        Miasto:
                                </dt>
                                <dd>
                                        {{ friend.city }}
                                </dd>
                                <dt>
                                        Grupa:
                                </dt>
                                <dd>
                                        {{ friend.group }}
                                </dd>
                                <dt>
                                        Data dodania:
                                </dt>
                                <dd>
                                        {{ friend.created  | date:'yyyy-MM-dd HH:mm:ss' }}
                                </dd>
                                <dt>
                                        Data ostatniej edycji:
                                </dt>
                                <dd>
                                        {{ friend.edited | date:'yyyy-MM-dd HH:mm:ss' }}
                                </dd>
                        </dl>
                </div>
                <div >
                        <div >
                        <!-- <div class="panel-footer pull-right"> -->
                                <a class="btn btn-block btn-lg btn-default" href="#!edit/{{ friend._id }}">Edytuj</a>
                                <!-- <a class="btn btn-block btn-lg btn-default" href="#!delete/{{ friend._id }}">Usuń</a> -->
                                <a class="btn btn-block btn-lg btn-default" ng-click="ctrl.deleteFriend()">Usuń</a>
                                <button class="btn btn-block btn-default btn-lg" ng-click="ctrl.back()" >Wr&#243;ć</button>
                        </div>
                </div>
                <!-- <a class="btn btn-block btn-default btn-lg" href="#" >Wr&#243;ć</a> -->
        </div>
        <div class="col-md-1"></div>
</div>