<div class="row panel">
    <div id="categories" class="col-md-3">
        <a class="btn btn-block btn-default btn-lg" href="#">Wszyscy</a>
        <!-- <a class="btn btn-block btn-default btn-lg btn-primary" href="#">Wszyscy</a> -->
        <a class="btn btn-block btn-default btn-lg" ng-repeat="group in groups" href="#!groups/{{ group }}" >{{ group }}</a>
    </div>

    <div id="workingDiv" class="col-md-8">
        <div class="row panel-body">
            <table id="friendsListTable" class="well table table-hover table-bordered">
                <tr>
                    <th class="col-md-5">Nazwisko i Imię</th>
                    <th class="col-md-2">Numer Telefonu</th>
                    <th class="col-md-2">Grupa</th>
                </tr>
                <tr ng-repeat="friend in friends">
                        <td><a href="#!friends/{{ friend._id }}">{{ friend.lastName }} {{ friend.firstName }}</a></td>
                        <td>{{ friend.phoneNumber }}</td>
                        <td>{{ friend.group  }}</td>    
                </tr>
            </table>
        </div>
        <button class="btn btn-block btn-default" ng-click="ctrl.reloadData()">Reload</button>
    </div>
</div>