<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <title>Lista</title>
</head>
<body ng-app="friendsListApp">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <a class="navbar-brand" href="/" >Spis znajomych</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!Add">Dodaj</a></li>
                <!-- <li><a href="/Admin/Index">Zarządzaj</a></li> -->
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li><a id="testId" href="#">Test</a></li>
                <li><a href="/Admin/Index">Zarządzaj</a></li>
            </ul> -->
        </div>
    </nav>

    <div ng-view></div>

    <!-- <div class="row panel" ng-controller="ListController">
        <div id="categories" class="col-md-3">
            <a class="btn btn-block btn-default btn-lg" >Wszyscy</a>
            <a class="btn btn-block btn-default btn-lg" ng-repeat="group in groups" >{{ group }}</a>
        </div>
    
        <div id="workingDiv" class="col-md-8">
            <div class="row panel-body">
                <table id="friendsListTable" class="well table table-hover table-bordered">
                    <tr>
                        <th class="col-md-5">Nazwisko i Imię</th>
                        <th class="col-md-2">Numer Telefonu</th>
                        <th class="col-md-2">Grupa</th>
                    </tr>
                    <tr ng-repeat="friend in friends">
                            <td><a href="#" ng-click="plusClicks($index)">{{ friend.firstName }} {{ friend.lastName }}</a></td>
                            <td>{{ friend.phoneNumber }}</td>
                            <td>{{ friend.group  }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
    
    <!-- Visual Studio Browser Link -->
    <!-- <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"d023dd91c1cc47a98e861e7d4d15d9d5"}
    </script>
    <script type="text/javascript" src="http://localhost:52888/c340df983acc46bea9ad38a1ba407b3e/browserLink" async="async"></script> -->
    <!-- End Browser Link -->

    <!-- codecademy -->
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <!-- <script src="js/main.js"></script> -->
    
    <script src="js/app.js"></script>
    
    <!-- Controllers -->
    <script src="js/controllers/ListController.js"></script>
    <script src="js/controllers/DetailsController.js"></script>
    <script src="js/controllers/AddController.js"></script>
    <script src="js/controllers/GroupController.js"></script>
    <script src="js/controllers/EditController.js"></script>
    <!-- <script src="js/controllers/GroupController.js"></script> -->
    
    <!-- Services -->
    <script src="js/services/groups.js"></script>
    <script src="js/services/friends.js"></script>
    <script src="js/services/friendDetails.js"></script>
    <script src="js/services/addFriend.js"></script>
    <script src="js/services/groupFriends.js"></script>
    <script src="js/services/edit.js"></script>
    <script src="js/services/deleteFriend.js"></script>
    

</body>
</html>