




/* thead{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 10;
}
tbody{
    position: relative;
    top: 100px;
} */

/* .table-overflow { overflow: auto;
    height:600px;  }      */
    
    
    /* .test{
        position: fixed;
        display: block;
        width: 100%;
        z-index: 10;
    }
.scrollable{
    height: 600px;
    overflow: scroll;
} */

/* 
.table-responsive {
    max-height:300px;
} */


/* table{
    height:600px; 
}
tbody{
    overflow-y: scroll;
    height: 82%;
    width: 98.5%;
    position: absolute;
}
tr {
    width: 100%;
    display: inline-table;
} */



tbody {
    display:block;
    height:400px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    /* width: calc( 100% - 1.2em ) */
    width: 100%
}






::-webkit-scrollbar { 
    display: none; 
}

/* .container {
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}
.container::-webkit-scrollbar { 
    display: none;
} */